# Das ist Gits benutzerspezifische Konfigurationsdatei.
[user]
# Bitte passen Sie die folgenden Zeilen an und kommentieren Sie diese aus:
	name = Janik K.
	email = janik@kndlive.de
	signingkey = key::ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIF1uFVdeFc/PwI+CbTvYtT359AQgu5w6N2yVvLbJbkCO

[core]
  editor = nvim 
[gpg]
	format = ssh
[commit]
	gpgsign = true
[gpg "ssh"]
	defaultKeyCommand = ssh-add -L
	allowedSignersFile = /var/home/jk/.ssh/allowed_signers
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
