# Das ist Gits benutzerspezifische Konfigurationsdatei.
[user]
# Bitte passen Sie die folgenden Zeilen an und kommentieren Sie diese aus:
	name = Janik
	email = 10290002+led0nk@users.noreply.github.com
