* {
  font-size: 16px;
  font-family: Roboto;
  min-height: 28px;
}

window#waybar {
  background: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 0.5s;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#window {
  border: none;
  border-radius: 4px;
  margin: 2;
  padding-left: 8;
  padding-right: 8;
  background-color: rgba(64, 64, 64, 0.25);
  font-size: 14px;
  font-weight: bold;
}

#scratchpad,
#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#privacy,
#disk,
#network,
#custom-logout,
#tray {
  margin-right: 5px;
  margin-left: 5px;
}

#workspaces button {
  padding: 0 0.4em;
  color: #fdf6e3;
  border: none;
  border-radius: 0;
}

#workspaces button.focused {
  /*box-shadow: inset 0 2px #c9545d;*/
  box-shadow: inset 0 2px #f9826c;
  color: #f9826c;
}

#workspaces button.active {
  background: rgba(40, 42, 54, 0.9);
}

#workspaces button:hover {
  background: rgba(40, 42, 54, 0.9);
  box-shadow: inset 0 2px white;
}

#network {
  font-weight: bold;
}

#clock {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 16px;
  font-weight: bold;
}

#pulseaudio {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#pulseaudio label{
  color: red;
}

#memory {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  /*background-color: rgba(0, 0, 0, 0.3);*/
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#cpu {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#tray {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
}

#battery {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#battery.warning {
  border: none;
  border-radius: 4px;
  color: yellow;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#battery.cricital {
  border: none;
  border-radius: 4px;
  color: red;
  margin: 2px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#disk {
  border: none;
  border-radius: 4px;
  color: #ffffff;
  margin: 2px 0px 2px 0px;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
}

#disk.critical {
  border: none;
  border-radius: 4px;
  color: red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  font-size: 14px;
}

#custom-weather,
#custom-dunst {
  margin-right: 10px;
  margin-left: 10px;
  font-size: 16px;
}


#keyboard-state {
  color: #000000;
  padding: 0 0px;
  margin: 0 5px;
  font-size: 16px;
}

